.content {
    display: flex;
}

.field {
    flex: 1;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ffffff66;
    background-color: #282c34;
    color: white;
    font-size: 1em;
    padding-bottom: 4px;
}

.field:focus {
    border-bottom: 1px solid white;
}

.field::placeholder {
    color: #ffffff66;
}

.button {
    margin-left: 10px;
    padding-left: 0;
    padding-right: 0;
}

.error {
    font-size: 0.9em;
    color: #f8b133;
    margin-top: 6px;
}
