body {
  background-color: #282c34;
  color: white;
  margin: 0;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-app-region: drag;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    user-select: none;
}

input, button, textarea, :focus {
  outline: none;
  -webkit-app-region: no-drag;
}

a {
  color: #61dafb;
}

button {
  font-size: 1em;
  color: #61dafb;
  text-decoration: underline;
  border: none;
  background: transparent;
  cursor: pointer;
  white-space: nowrap;
}

.issueList {
  margin: 24px 0px 8px 0px;
}

.issue {
  position: relative;
  padding: 0px 8px;
  height: 32px;
}

.issue__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 32px;
}

.issue__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 120px;
  height: 32px;
  background: linear-gradient(to right, #282c3400 0%, #282c34ff 40%, #282c34ff 100%);
}

.issue__summary {
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
}

.issue__start-button {
  visibility: hidden;
  padding: 3px 4px;
}

.issue:hover .issue__start-button {
  visibility: visible;
}

.issue__stop-button {
  padding: 3px 4px;
}

.issue__add-button {
  visibility: hidden;
  padding: 3px 14px 3px 4px;
}

.issue:hover .issue__add-button {
  visibility: visible;
}

.issue__time {
  color: #666666;
  font-size: 12px;
  padding: 3px;
  cursor: default;
}

.login {
  text-align: center;
  padding-top: 80px;
}

.login__field {
  border: none;
  border-bottom: 1px solid #ffffff66;
  background-color: #282c34;
  color: white;
  font-size: 1em;
  width: 160px;
  margin: 8px;
  padding-bottom: 4px;
}

.login__field:focus {
  border-bottom: 1px solid #61dafb;
}

.login__field::placeholder {
  color: #ffffff66;
}

.login__button {
  margin-top: 14px;
}